<mat-card appearance="outlined">
  <mat-card-content
    ><div class="filters">
      <mat-form-field class="wide-select">
        <mat-label>Repozytoria</mat-label>
        <mat-select [(ngModel)]="selectedRepos" multiple>
          <mat-option
            (click)="$event.stopPropagation(); selectAllRepos()"
            [value]="''"
            [disabled]="selectedRepos.length === repos.length"
          >
            Zaznacz wszystkie
          </mat-option>
          <mat-option
            (click)="$event.stopPropagation(); selectedRepos = []"
            [value]="''"
            [disabled]="selectedRepos.length === 0"
          >
            Odznacz wszystkie
          </mat-option>
          @for (repo of repos; track repo.id){
          <mat-option [value]="repo.id">{{ repo.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="wide-select">
        <mat-label>Podaj zakres dat</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Data początkowa"
            [(ngModel)]="fromDate"
          />
          <input matEndDate placeholder="Data końcowa" [(ngModel)]="toDate" />
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button class="place-center" mat-flat-button (click)="loadStats()">
        Filtruj
      </button>
      <mat-checkbox [(ngModel)]="includeDevTest">
        Uwzględnij "dev into test"
      </mat-checkbox>
    </div></mat-card-content
  >
</mat-card>

@if(loading()){
<div class="spinner-container">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="48"
  ></mat-progress-spinner>
</div>
} @else {
<div class="chart-container">
  <ngx-charts-bar-horizontal
    [results]="chartData"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Reviewer"
    yAxisLabel="Approvals"
    [showDataLabel]="true"
    [wrapTicks]="false"
    (select)="onReviewerClick($event.name)"
  >
  </ngx-charts-bar-horizontal>
</div>
} @if (selectedReviewer) {
<div>
  <h3>Pull requesty zaakceptowane przez: {{ selectedReviewer }}</h3>
  <button (click)="clearReviewer()">Close</button>
  <ul>
    @for (pr of reviewerPRs[selectedReviewer]; track $index) {
    <li>
      <a [href]="getPrUrl(pr)" target="_blank" rel="noopener">
        #{{ pr.pullRequestId }}
      </a>
      - {{ pr.title }} (by {{ pr.createdBy.displayName }}) - Closed:
      {{ pr.closedDate | date : "short" }}
    </li>
    }
  </ul>
</div>
}
